.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  position: relative;
  &_side {
    height: 52rem;
    width: 100%;
    transition: all 0.8s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    &--front {
      background-color: white;
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary,
          $color-secondary-light
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-primary-light
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary,
          $color-tertiary-light
        );
      }
    }
  }

  &:hover &_side--front {
    transform: rotateY(-180deg);
  }
  &:hover &_side--back {
    transform: rotateY(0deg);
  }

  &_picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary,
          $color-secondary-light
        ),
        url(../../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-primary-light
        ),
        url(../../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary,
          $color-tertiary-light
        ),
        url(../../img/nat-7.jpg);
    }
  }

  &_heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    text-align: right;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }
  &_heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.85),
        rgba($color-secondary-light, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.85),
        rgba($color-primary-light, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary, 0.85),
        rgba($color-tertiary-light, 0.85)
      );
    }
  }
  &_details {
    ul {
      padding: 3rem;
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light;
        }
      }
    }
  }
  &_cta {
    width: 90%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }
  &_price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &_price-value {
    font-size: 6rem;
    text-transform: uppercase;
  }
}
