
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s;
      animation-timing-function: ease-in;
    }
  
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s;
      animation-timing-function: ease-in;
    }
  }
  
  
  